<main>
<div *ngIf="!toggleForm">
<h1 class="heading-1">2017 Digital Experiences</h1>
<p class="paragraph">This is some copy that talks about what we’re going to be generating and relates it to the mad lib without saying mad lib so there’s no copyright infringement.</p>
  <button (click)="toggleForm = !toggleForm">Begin ></button>
</div>

<div *ngIf="toggleForm">
  <form *ngIf="counter !== 14">
    <div *ngIf="counter == 0">
      <label for="adj-1" class="paragraph"><span class="number">1.</span> Choose an adjective to enter below
        <input type="text" id="adj-1" name="adj-1" [(ngModel)]="adjOne" placeholder="e.g. hilarious">
      </label>
    </div>
    <div *ngIf="counter == 1">
      <label for="pnoun-2" class="paragraph"><span class="number">2.</span> Choose a plural noun to enter below
        <input type="text" id="pnoun-2" name="pnoun-2" [(ngModel)]="pnounTwo" placeholder="e.g. malfunctions">
      </label>
    </div>
    <div *ngIf="counter == 2">
      <label for="pnoun-3" class="paragraph"><span class="number">3.</span> Choose a plural noun to enter below
        <input type="text" id="pnoun-3" name="pnoun-3" [(ngModel)]="pnounThree" placeholder="e.g. chimpanzees">
      </label>
    </div>
    <div *ngIf="counter == 3">
      <label for="verb-4" class="paragraph"><span class="number">4.</span> Choose a verb to enter below
        <input type="text" id="verb-4" name="verb-4" [(ngModel)]="verbFour" placeholder="e.g. order">
      </label>
    </div>
    <div *ngIf="counter == 4">
      <label for="noun-5" class="paragraph"><span class="number">5.</span> Choose a noun to enter below
        <input type="text" id="noun-5" name="noun-5" [(ngModel)]="nounFive" placeholder="e.g. lunch">
      </label>
    </div>
    <div *ngIf="counter == 5">
      <label for="verb-6" class="paragraph"><span class="number">6.</span> Choose a verb ending in -ing to enter below
        <input type="text" id="verb-6" name="verb-6" [(ngModel)]="verbSix" placeholder="e.g. moving">
      </label>
    </div>
    <div *ngIf="counter == 6">
      <label for="verb-7" class="paragraph"><span class="number">7.</span> Choose a verb to enter below
        <input type="text" id="verb-7" name="verb-7" [(ngModel)]="verbSeven" placeholder="e.g. punch">
      </label>
    </div>
    <div *ngIf="counter == 7">
      <label for="pnoun-8" class="paragraph"><span class="number">8.</span> Choose a plural noun to enter below
        <input type="text" id="pnoun-8" name="pnoun-8" [(ngModel)]="pnounEight" placeholder="e.g. bosses">
      </label>
    </div>
    <div *ngIf="counter == 8">
      <label for="adj-9" class="paragraph"><span class="number">9.</span> Choose an adjective to enter below
        <input type="text" id="adj-9" name="adj-9" [(ngModel)]="adjNine" placeholder="e.g. exciting">
      </label>
    </div>
    <div *ngIf="counter == 9">
      <label for="adj-10" class="paragraph"><span class="number">10.</span> Choose an adjective to enter below
        <input type="text" id="adj-10" name="adj-10" [(ngModel)]="adjTen" placeholder="e.g. needy">
      </label>
    </div>
    <div *ngIf="counter == 10">
      <label for="pnoun-11" class="paragraph"><span class="number">11.</span> Choose a plural noun to enter below
        <input type="text" id="pnoun-11" name="pnoun-11" [(ngModel)]="pnounEleven" placeholder="e.g. kittens">
      </label>
    </div>
    <div *ngIf="counter == 11">
      <label for="pnoun-12" class="paragraph"><span class="number">12.</span> Choose a plural noun to enter below
        <input type="text" id="pnoun-12" name="pnoun-12" [(ngModel)]="pnounTwelve" placeholder="e.g. water parks">
      </label>
    </div>
    <div *ngIf="counter == 12">
      <label for="oc-13" class="paragraph"><span class="number">13.</span> Choose an occupational category to enter below
        <input type="text" id="oc-13" name="oc-13" [(ngModel)]="occupationThirteen" placeholder="e.g. nursing">
      </label>
    </div>
    <div *ngIf="counter == 13">
      <label for="adj-14" class="paragraph"><span class="number">14.</span> Choose an adjective to enter below
        <input type="text" id="adj-14" name="adj-14" [(ngModel)]="adjFourteen" placeholder="e.g. great">
      </label>
    </div>
    <button (click)="incrementCounter(); $event.preventDefault();">Next</button>
  </form>
  <div *ngIf="0 <= counter && counter !== 14" class="progress-bar"><span [ngClass]="setClasses()"></span></div>
</div>

<div id="print-this" *ngIf="counter == 14">
  <p class="story">Two of the most <span class="highlight">{{ adjOne }}</span> things 2017 will bring to digital experiences are <span class="highlight">{{ pnounTwo }}</span> and <span class="highlight">{{ pnounThree }}</span>. Even now, it's hard to believe that we can use a mobile phone to <span class="highlight">{{ verbFour }}</span> our <span class="highlight">{{ nounFive }}</span> with the touch of a finger. With technology and design <span class="highlight">{{ verbSix }}</span> like they are, I really believe we will be able to <span class="highlight">{{ verbSeven }}</span> our <span class="highlight">{{ pnounEight }}</span> with our phones by the end of the year. How <span class="highlight">{{ adjNine }}</span>!</p>
  <p class="story">The trends in web design will also evolve to be more <span class="highlight">{{ adjTen }}</span> as users demand <span class="highlight">{{ pnounEleven }}</span> from the brands they love. Developers will create <span class="highlight">{{ pnounTwelve }}</span> that push the limits of the <span class="highlight">{{ occupationThirteen }}</span> industry. Looking forward to <span class="highlight">{{ adjFourteen }}</span> things to come in 2017!</p>
  <div class="links">
    <a href="#" (click)="reset()"class="link">Create a New Story</a>
    <a  (click)="printDiv()" class="link">Print</a> <!-- href="javascript:window.print()" -->
  </div>
</div>
</main>
<footer>
  <p class="text">#2017CXOracle</p>
  <a href="http://www.captechconsulting.com/">
    <img class="logo" src="/assets/captech_logo.png" alt="CapTech Consulting logo">
  </a>
</footer>