/* Media Queries */

$no-mq-support: false !default;
$no-mq-threshold: 1200px;
@mixin mediaQuery($width: 0, $height: false) {
    @if $no-mq-support{
        @if $width < $no-mq-threshold{
            @content;
        }
    } @else {
        @if $height {
            @media ( min-width: + $width ) and ( min-height: + $height ) {
                @content;
            }
        }@else{
            @media ( min-width: + $width ) {
                @content;
            }
        }
    }
}

/* Color Variables */

$light-blue: #00A1E0;
$medium-blue: #005db9;
$dark-blue: #00182f;
$opaque-navy: rgba(0, 13, 25, 0.65);
$light-gray: #DBDBDB;

/* Type Variables */

$adelle: "adelle"; /* 3,7 italic */
$proxima: "proxima-nova"; /* 7,9 */

/* Type Mixins */

@mixin adelle($size, $weight, $style) {
  font-family: $adelle;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

@mixin proxima($size, $weight, $style) {
  font-family: $proxima;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

/* Type Styles */

.heading-1 {
	@include proxima(2.35rem, 900, normal);

	border-bottom: 1px solid $light-blue;
	border-top: 1px solid $light-blue;
	line-height: 2.15rem;
	margin: .5rem 0;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;

	@include mediaQuery(400px){
		font-size: 3rem;
		line-height: 2.5rem;
		margin-top: 1rem;
	}

	@include mediaQuery(500px){
		font-size: 3.75rem;
		line-height: 3.25rem;
	}

	@include mediaQuery(580px){
		font-size: 4.25rem;
		line-height: 3.75rem;
	}

	@include mediaQuery(675px){
		font-size: 5rem;
		line-height: 4.5rem;
		margin-top: 5rem;
		padding: 1.5rem;
	}
}

.paragraph {
	@include adelle(1.15rem, 300, normal);

	line-height: 1.75rem;
	padding: .5rem 0;

	@include mediaQuery(400px){
		font-size: 1.35rem;
	}

	@include mediaQuery(700px){
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 0;
	}

	.number {
		color: $light-blue;
	}
}

.story {
	@extend .paragraph;

	@include mediaQuery(400px){
		line-height: 2rem;
	}

	@include mediaQuery(700px){
		line-height: 2.3rem;
	}

	.highlight {
		@include adelle(1.15rem, 700, italic);

		border-bottom: 2px solid $light-blue;

		@include mediaQuery(400px){
			font-size: 1.35rem;
		}
	}
}

form {
	margin-top: 5rem;
}

input {
	@include adelle(1.5rem, 300, normal);

	border-radius: 4px;
	border-style: none;
	height: 50px;
	margin: 2rem 0;
	width: 95%;

	&::placeholder {
		padding-left: .5rem;
	}
}

.links {
	padding-top: 1rem;
}

.link {
	@include proxima(1rem, 700, normal);

	background-color: $light-blue;
	border-radius: 4px;
	border-style: none;
	color: white;
	display: inline-block;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	margin-right: .75rem;
	padding: .75rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
}

/* Progress Bar */

.progress-bar {

	height: 10px;
	background: rgba(255, 255, 255, .25);
	position: absolute;
	bottom: 64px;
	left: 0;
	right: 0;
	width: 100%;
	color: red;

	@include mediaQuery(410px){
		bottom: 68px;
	}

	@include mediaQuery(430px){
		bottom: 70px;
	}

	@include mediaQuery(450px){
		bottom: 73px;
	}

	@include mediaQuery(475px){
		bottom: 78px;
	}

	@include mediaQuery(500px){
		bottom: 63px;
	}

	@include mediaQuery(550px){
		bottom: 90px;
	}

	span {
	    position: absolute;
	    bottom: 0;
	    background: linear-gradient(#28c2ff, $light-blue);
	    left: 0;
	    right: 0;
	    transition: 100ms ease-in-out;
	    height: 10px;

		&.zero {
			width: calc( 1/14 * 100% );
		}
		&.one {
			width: calc( 2/14 * 100% );
		}
		&.two {
			width: calc( 3/14 * 100% );
		}
		&.three {
			width: calc( 4/14 * 100% );
		}
		&.four {
			width: calc( 5/14 * 100% );
		}
		&.five {
			width: calc( 6/14 * 100% );
		}
		&.six {
			width: calc( 7/14 * 100% );
		}
		&.seven {
			width: calc( 8/14 * 100% );
		}
		&.eight {
			width: calc( 9/14 * 100% );
		}
		&.nine {
			width: calc( 10/14 * 100% );
		}
		&.ten {
			width: calc( 11/14 * 100% );
		}
		&.eleven {
			width: calc( 12/14 * 100% );
		}
		&.twelve {
			width: calc( 13/14 * 100% );
		}
		&.thirteen {
			width: calc( 14/14 * 100% );
		}
	}
}