
/* You can add global styles to this file, and also import other style files */

/* Global Color Variables */
$medium-blue: #005db9;
$dark-blue: #00182f;
$opaque-navy: rgba(0, 13, 25, 0.65);

svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

html {
  background:
  	radial-gradient(
  		circle at center,
  		$medium-blue,
  		$dark-blue
  		);
  color: white;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

body {
	height: 100%;
	margin: 0 auto;
}

main {
	margin: 0 auto;
	max-width: 595px;
	padding-top: 5rem;
	width: 50%;
}

/* Footer */

footer {
	background-color: $opaque-navy;
	bottom: 0;
	height: 90px;
	position: fixed;
	width: 100%;

	.logo {
		display: inline-block;
		float: right;
		height: 85%;
		padding: .35rem .5rem;
		vertical-align: middle;
	}
}