
/* You can add global styles to this file, and also import other style files */

/* Global Color Variables */
$medium-blue: #005db9;
$dark-blue: #00182f;

svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

html {
  // background: 
  // 	radial-gradient(
  // 		ellipse at center, 
  // 		$medium-blue 0%, 
  // 		darken($medium-blue, 50%) 100%
  // 		);
  background:
  	radial-gradient(
  		circle at center,
  		$medium-blue,
  		$dark-blue
  		);
  overflow: hidden;
} 

// html {
// 	background-color: $medium-blue;
// }